*{
    margin: 0;
} 

body::-webkit-scrollbar{
  width: 0;
}

nav{
    display: flex;
    align-items: center;
    padding: 25px 35px;
    background-color: #38527E;
    margin-bottom: 20px;
}

nav h2{
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

h3{
  text-align: center;
  color: #38527E;
  padding: 20px 40px;
  
}

nav ul li, nav ul li a{
    list-style-type: none; 
    text-decoration: none;
    color: white;
}

/* * {box-sizing: border-box} */
/* body {font-family: Verdana, sans-serif; margin:0} */
/* .mySlides {display: none} */
/* img {vertical-align: middle;} */

img{
    display: flex;
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 20px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 30px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #38527E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #213659;
}

#form-input {
  background-color: #f2f2f2;
  padding: 70px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #38527E;
   color: white;
   text-align: center;
   padding: 10px;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal; 
  font-size: 25px;
}

/* CSS untuk row dan column */
        .row {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }

        .col {
            flex: 0;
            padding: 0 20px;
            box-sizing: border-box;
        }

        /* CSS untuk kartu */
        .card {
            width: 300px;
            max-width: 300px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 40px;
        }

        .card h2 {
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .card p {
            font-size: 16px;
            margin-bottom: 10px;
        }

        /* Media queries */
        @media (max-width: 768px) {
            .col {
                flex: auto;
                /* justify-content: cen; */
                /* Kolom akan mengisi lebar penuh pada perangkat berukuran kecil */
            }
        } 
